<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">


 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



   <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/solid.min.css">

<link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css">
<link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/brands.min.css">

<style>
  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }


  #newPostBtn {
  margin: 20px 0;
  background-color: #2ecc71;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#newPostBtn:hover {
  background-color: #f8fc0c;
}

  
.input-group{
position:relative;
 width:400px;
  left:35%;


}
  
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
 
  .bg-grey {
    background-color: lightgrey;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #ff4c32;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }
  
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }

#user{
  float:left;
  padding:2px 4px;
  height: 17px;
  }

.p1{
 font-size:6px;
  padding: 0px 10px;



}





  
  .card1{
  height:400px;
  background-color:lavenderblush;
  
  }
 
  
 #box{
  position:relative;
  left: 30%;
  bottom: 17%;


 }
  
  
  
  
  @media screen and (max-width: 768px) {
    .col-sm-3 {
      text-align: center;
      margin: 25px 0;
    }
  
  

  
  
  
  }

 

#myNavbar{
 position: realative;
 left:20%;

}

.card{
    line-height: 0.7;



}


  </style>
  
  
  

  
  
  
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">PetDream<i class="fa-solid fa-shield-dog" style="color: yellow;"></i></a>


        
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#dogs">  <span class="glyphicon glyphicon-globe "></span></a></li>
        <li><a href="#"> <span class="glyphicon glyphicon-envelope "></span></a></li>
        <li><a href="/List"> Wishlist <span class="glyphicon glyphicon-heart "></span></a></li>
       
        <li><a href="#pricing"> <span class="glyphicon glyphicon-gear "></span></a></li>
       
        
     
    
     </ul>
   
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>PetDream Company</h1> 
  <p>We specialize in finding pet dogs!</p> 
  <div class="card">
    <div id="box" class="card-body text-center">
      <div class="row">
        <div class="col-sm-4">
          <a id="newPostBtn" href="/login">Login</a>
           <a id="newPostBtn" href="/register">Register</a>
        </div>
        
      </div>

    </div>
  </div>
</div>
<br>
<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2  class="text-primary"><em>About Company Page</em></h2>
<br>
      <h4 class="text-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br><button class="btn btn-default btn-lg btn-success">Get in Touch</button>
</div>
<div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
  </div>

</div>
<hr>

<div  id="dogs" class="container-fluid  text-center">
  <h2 class="text-primary brand"><mark><em>Find Out Your Dream Dog !</em></mark></h2>
  <div class="row">
  <div class="col-sm-3">
  
  <div class="card card1">
    
    <div class="card-body"> <img src="images/100.jpg" width=100%  height=200px > </div> 
    <div class="card-footer">
<h4>Dog Code:-D100<br> 
Price: <strong> $17 USD</strong></h4>
<a id="newPostBtn" href="/new">Create Wishlist</a>
       


</div> 
  </div>
</div>
 <div class="col-sm-3">
  
  <div class="card card1">
    
   <div class="card-body"><img src="images/102.jpg "   width=100%  height=200px></div> 

 <div class="card-footer">
<h4>Dog Code:-D102<br> 
Price: <strong> $17 USD</strong></h4>
     
<a id="newPostBtn" href="/new">Create Wishlist</a>


</div> 
  </div>
</div>

 <div class="col-sm-3">
  
  <div class="card card1">
    
    <div class="card-body"><img src="images/103.jpg "   width=100%  height=200px ></div> 
    

<div class="card-footer">
<h4>Dog Code:-D103<br> 
Price: <strong> $17 USD</strong></h4>
     
<a id="newPostBtn" href="/new">Create Wishlist</a>





</div> 
  </div>
</div>


 <div class="col-sm-3">
  
  <div class="card card1">
    
    <div class="card-body"><img   src="images/200.jpg "   width=100%  height=200px></div> 
    
<div class="card-footer">
<h4>Dog Code:-D200<br> 
Price: <strong> $17 USD</strong></h4>
     
<a id="newPostBtn" href="/new">Create Wishlist</a>  </div>
</div>
</div>

</div>
</div>

<br>
<br>

<div  class="container-fluid  text-center">
  
  <div class="row">
  <div class="col-sm-3">
  
  <div class="card card1">
    
    <div class="card-body"><img   src="images/201.jpg "   width=100%  height=200px></div> 
   
<div class="card-footer">
<h4>Dog Code:-D201<br> 
Price: <strong> $17 USD</strong></h4>
     
<a id="newPostBtn" href="/new">Create Wishlist</a> 
</div> 
  </div>
</div>
 <div class="col-sm-3">
  
  <div class="card card1">
    
    <div class="card-body"><img   src="images/203.jpg "   width=100%  height=200px></div> 
   <div class="card-footer">
<h4>Dog Code:-D203<br> 
Price: <strong> $17 USD</strong></h4>
     
<a id="newPostBtn" href="/new">Create Wishlist</a> 
</div> 
  </div>
</div>

 <div class="col-sm-3">
  
  <div class="card card1">
    
    <div class="card-body"><img   src="images/205.jpg "   width=100%  height=200px></div> 
    <div class="card-footer">
<h4>Dog Code:-D205<br> 
Price: <strong> $17 USD</strong></h4>
     
<a id="newPostBtn" href="/new">Create Wishlist</a> 

</div> 
  </div>
</div>


 <div class="col-sm-3">
  
  <div class="card card1">
    
    <div class="card-body"><img   src="images/207.jpg "   width=100%  height=200px></div> 
  <div class="card-footer">
<h4>Dog Code:-D207<br> 
Price: <strong> $17 USD</strong></h4>
     
<a id="newPostBtn" href="/new">Create Wishlist</a> 
</div> 
  </div>
</div>
</div>
<br>
<br>
<div id="concard" class="container-fluid  text-center">
  
  <div class="row">
  <div class="col-sm-3">
  
  <div class="card card1">
    
    <div class="card-body"><img   src="images/218.jpg "   width=100%  height=200px></div> 
    <div class="card-footer">
<h4>Dog Code:-D218<br> 
Price: <strong> $17 USD</strong></h4>
     
<a id="newPostBtn" href="/new">Create Wishlist</a> 
</div> 
  </div>
</div>
 <div class="col-sm-3">
  
  <div class="card card1">
    
    <div class="card-body"><img   src="images/226.jpg "   width=100%  height=200px></div> 
   <div class="card-footer">
<h4>Dog Code:-D226<br> 
Price: <strong> $17 USD</strong></h4>
     
<a id="newPostBtn" href="/new">Create Wishlist</a> 
</div> 
  </div>
</div>

 <div class="col-sm-3">
  
  <div class="card card1">
    
    <div class="card-body"><img   src="images/301.jpg "   width=100%  height=200px></div> 
 <div class="card-footer">
<h4>Dog Code:-D301<br> 
Price: <strong> $17 USD</strong></h4>
     
<a id="newPostBtn" href="/new">Create Wishlist</a> 
</div> 
  </div>
</div>


 <div class="col-sm-3">
  
  <div class="card card1">
    
    <div class="card-body"><img   src="images/302.jpg "   width=100%  height=200px></div> 
   <div class="card-footer">
<h4>Dog Code:-D302<br> 
Price: <strong> $17 USD</strong></h4>
     
<a id="newPostBtn" href="/new">Create Wishlist</a>
</div> 
  </div>
</div>
</div>
<br>
<br>
<div id="concard" class="container-fluid  text-center">

  <div class="row">
  <div class="col-sm-3">
  
  <div class="card card1">
    
    <div class="card-body"><img   src="images/303.jpg "   width=100%  height=200px></div> 
   <div class="card-footer">
<h4>Dog Code:-D303<br> 
Price: <strong> $17 USD</strong></h4>
     
<a id="newPostBtn" href="/new">Create Wishlist</a> 
</div> 
  </div>
</div>
 <div class="col-sm-3">
  
  <div class="card card1">
    
    <div class="card-body"><img   src="images/304.jpg "   width=100%  height=200px></div> 
    <div class="card-footer">
<h4>Dog Code:-D304<br> 
Price: <strong> $17 USD</strong></h4>
     
<a id="newPostBtn" href="/new">Create Wishlist</a>

</div> 
  </div>
</div>

 <div class="col-sm-3">
  
  <div class="card card1">
    
    <div class="card-body"><img   src="images/305.jpg "   width=100%  height=200px></div> 
    <div class="card-footer">
<h4>Dog Code:-D305<br> 
Price: <strong> $17 USD</strong></h4>
     
<a id="newPostBtn" href="/new">Create Wishlist</a>
</div> 
  </div>
</div>


 <div class="col-sm-3">
  
  <div class="card card1">
    
    <div class="card-body"><img   src="images/308.jpg "   width=100%  height=200px></div> 
   <div class="card-footer">
<h4>Dog Code:-D308<br> 
Price: <strong> $17 USD</strong></h4>
     
<a id="newPostBtn" href="/new">Create Wishlist</a>
</div> 
  </div>
</div>
</div>


</section>



























</body>
<br><hr><br><br>
<footer><i class="fa-regular fa-copyright"></i> Created By PetDream company.</footer>

</html>

